body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: rgb(43, 46, 65);

}

/*********** HEADER ************/

header {
    font-family: 'Roboto Slab', serif;
    background-color: rgb(43, 46, 65);
    color: white;
    padding: 10px;
    text-align: center;
}

header a {
    color: gold;
    text-decoration: none;
    padding: 5px;
}

h1 {
    margin: 50px;
    text-align: center;
}

p {
    margin: 60px;
    width: 1000px;
    text-align:center;
    font-size: 30px;
}
h2 {
    margin: 50px;

    
}
/*********** LISTS ************/

#todo-lists {
    margin: 0 auto;
    padding-top: 10px;
    width: 80%;
}

.list {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 50px;
    margin-bottom: 10px;
}

.list a {
    text-decoration: none;
    color: rgb(43, 46, 65);
}

.list-title {
    font-size: 2em;
    font-weight: bold;
    margin-left: 20px;
}


button {
    border-radius: 10px;
    background-color: white;
    border: 1px solid rgb(43, 46, 65);
    padding: 10px;
    color: teal;
    font-size: 0.8em;
}

input {
    padding: 10px;
    font-size: 0.8em;
}
/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
  }

  /* Top left text */
  .top-center {
    position: absolute;
    top: 8px;
    left: 50%;
  }
  
 
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
 